{% extends "base.html.twig" %}

{% block title %}
    Blog | Creation d'un article
{% endblock %}

{% block body %}

        <h1 class="text-center my-4">
        {# Si la condition IF renvoi TRUE, cela veut dire que editMode contient un ID d'un article, alors c'est une modification #}
        {% if editMode %}
            Modification article
        {% else %}
        {# Sinon editMode ne contient aucun ID d'article, il renvoi FALSE, alors c'est une insertion, on entre dans le ESLE #}
            Création article
        {% endif %}
        </h1>

        {# Ouverture de la balise <form> + methode"" + action="" #}
        {{ form_start(formArticle) }}

            {{ form_row(formArticle.titre, {'label' : "Fait dans Create2"}) }}

            {{ form_row(formArticle.category,{'label' : "categorie Fait dans Create2"}) }}

            {{ form_row(formArticle.tags) }}

            {{ form_row(formArticle.contenu) }}

            {{ form_row(formArticle.image) }}

            <button type="submit" class="btn btn-dark">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Enregistrer
            {% endif %}
            
            
            </button>

        {{ form_end(formArticle) }}


{% endblock %}